<!DOCTYPE html>
<html lang="en">
	<head>
  		<title>Ted Talks</title>
  		<meta charset="utf-8">
  		<meta name="viewport" content="width=device-width, initial-scale=1">
  		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  		<link rel="stylesheet" href="custom.css">
	</head>
	<body>
		<div class="jumbotron jumbotron-fluid">
	  		<div class="container">
	    		<h1>Ted Talks</h1>      
	    		<p>TED Talks are influential videos from expert speakers on education, business, science, tech and creativity, with subtitles in 100+ languages. TED is a nonprofit devoted to spreading ideas, usually in the form of short, powerful talks.</p>
	  		</div>
		</div>
		<div class="container">
	  		<h1>TED Recommends</h1>
	  		<div class="clearfix">
	  			<h6 class="float-left">Tell us what interests you?</h6>
	  			<button type="button" class="btn btn-primary float-right">Continue </button>
			</div>
			<BR/>
			<div class="alert alert-danger" style="display:none;">
  Please select at least one tag
</div>

		</div>
		
		<div class="container recommends_container">
			<div class="buttons_group">
			</div>
		</div>
		<BR/>
		<div class="container">
		<div class="clearfix">	  			
	  			<button type="button" class="btn btn-primary float-right">Continue </button>
			</div>
			</div>
		<footer class="page-footer font-small special-color-dark pt-4">
    		<div class="footer-copyright text-center py-3">© 2018 Copyright:
      			<a href="https://www.ted.com/"> TedTalks.com</a>
    		</div>
  		</footer>  
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
	  	<script src="custom.js"></script>
	</body>
</html>